<div class="container mt-2">
    <div class="card" *ngIf="customers">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}

        </div>
        <div class="card-body">
            <h5 class="card-header">Customers</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>